@charset "utf-8"; //设置字符编码
$maincolor:#f10180;
$wrapwidth:1000px;
%center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


//头部
#header {
    width: 100%;
    height: 187px;
    background: #f5f5f5;
    .header-wrap {
        width: $wrapwidth;
        margin: 0 auto;
        display: flex;
        .left {
            width: 86px;
            height: 28px;
            line-height: 28px;
            // border: 1px solid;
            padding: 0 23px 0 15px;
            .choosecity {
                display: flex;
                &:hover .citybox{
                    display: block;
                }
            }
            .city {
                width: 46px;
                font-size: 12px;
                position: relative;
                
            }
            .citybox{
                position: absolute;
                left: 0;
                top: 30px;
                width: 500px;
                height: 200px;
                background-color: rgb(229, 227, 230);
                display: none;
                z-index: 10;
            }
            .chooseaddres{
                display: flex;
                justify-content: center;
                padding: 10px 5px;
            }
            .setsize{
                width: 150px;
                height: 150px;
                border: 1px solid black;
                margin: 5px;
            }
            // #province{
                
            // }

            .image {
                width: 8px;
                height: 8px;
                line-height: 20px; 
            }
        }

        .right {
            margin-left: 176px;
            // line-height: 30px;
            width: 800px;
            height: 30px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            //公共样式
            .pub{
                cursor: pointer;
            }
            //请登录的样式
            .load{
                position: relative;
                .loadbox{
                    display: none;
                    width: 260px;
                    height: 160px;
                    position: absolute;
                    top: 21px;
                    left: 0;
                    border: 1px solid rgb(102, 102, 102);
                    background-color: rgb(252, 249, 249);
                    font-size: 20px;
                    padding-top: 50px;
                    z-index: 10;
                        
                    
                }
                &:hover .loadbox{
                    display: block;
                }
                // &:hover{
                //     background: rgb(252, 249, 249);

                // }
                // .helloload{
                    
                // }
            }
            //签到有礼
            #sign-a{
                display: flex;
                color: black;
                justify-content: space-between;
                align-items: center;
            }
            .imgjump{
                padding: 0 4px 8px 0;
            }
            //更多
            .more{
                position: relative;
                .morebox{
                    width: 200px;
                    height: 180px;
                    background-color: rgb(252, 248, 248);
                    position: absolute;
                    right: 0;
                    top: 21px;
                    display: none;
                    color: black;
                    font-size: 20px;
                    padding-top: 20px;
                    border: 1px solid rgb(95, 95, 95);
                    z-index: 10;

                }
                &:hover .morebox{
                    display: block;
                }
            }
        }
    }
    //头部logo区
    .logo-wrap{
        width: 1170px;
        margin: 0 auto;
        display: flex;
        // overflow: hidden;
        .fxg{
            width: 400px;
            height: 100px;
            padding: 14px 0 0 5px;
            // background:url(./img/a.png) no-repeat;
        }
        .search{
            padding: 40px 0 0 50px;
            p{
                display: flex;
                justify-content: center;
                border: 2px solid $maincolor;
                border-radius: 3px;
                background: $maincolor;
    
            }
            input{
                width: 300px;
                height: 30px;
                border: none;
                padding-left: 5px;
    
            }
            .btn{
                width: 60px;
                height: 32px;
                // background: $maincolor;
                background: url("../img/btn.png") no-repeat;
                background-position: center;
                background-size: 60px 37px;
            }
        }
        //购物袋
        .bags{
            margin: 40px 0 0 15px;
            width: 120px;
            height: 32px;
            background: #f6f7f9;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border:1px solid rgb(153, 153, 151);
            border-radius: 3px;
            .bag-icon{
                width: 20px;
                height: 32px;
                // color: black;
                background:url(../img/sprite.png) ;
                background-position: -49px -90px;
            }
            .showbagnum{
                width: 19px;
                height: 20px;
                background: $maincolor;
                border-radius: 9px;
                color: white;
                line-height: 20px;
                padding-left: 8px;
                cursor: pointer;
            }
        }
    }



    //导航栏   始终固定在顶部
    #nav{
        // overflow: hidden;
        // position: sticky;
        // top: 0px;
        width: 1170px;
        margin: 0 auto;
        font-size: 18px;
        padding: 0 20px;
        .nav-wrap{
            @extend %center;
            // background: rgb(184, 181, 181);
            li{
                cursor: pointer;
            }

            li:nth-child(1){
                position: relative;
                height: 43px;
                @extend %center;
                justify-content: center;
                width: 156px;
                background: $maincolor;
                font-size: 18px;
                font-family: tahoma;
                padding: 0 10px;
                color: white;
                display: flex;
                .imgbox{
                    width: 30px;
                    height: 30px;
                    background-image: url(../img/sprite.png);
                    background-position: 49px -117px;

                }
                &:hover .hidebox{
                    display: block;
                }
            }
            .hidebox{
                width: 141px;
                // height: 200px;
                background: $maincolor;
                position: absolute;
                left: 0;
                top: 38px;
                display: none;
                padding: 15px 0 10px 35px;
                // @extend %center;
            }
            dd{
                font-size: 14px;
                margin-top: 35px;
            }

            li:nth-child(2){
                font-weight: bolder;
                color: $maincolor;
            }
            li:nth-child(4){
                font-weight: bolder;
                color: black;
                @extend %center
            }
            .hot{
                width: 20px;
                height: 30px;
                background: url(../img/hot.gif) no-repeat;
                margin-right: 5px;
            }

            li:nth-child(13){
                @extend %center;
                position: relative;
                .botarr{
                    width: 20px;
                    height: 20px;
                    background: url(../img/sprite.png) no-repeat;
                    background-position: -9px -199px;
                }
                &:hover .li13hidebox{
                    display: block;
                    background: rgb(252, 249, 249);
                }
                // &:hover{
                //     display: block;
                //     background: rgb(240, 238, 238);
                // }
            }
            .li13hidebox{
                position: absolute;
                right: -20px;
                top: 20px;
                width: 100px;
                z-index: 10;
                display: none;
            }
            .li13hideboxdd{
                // background: $maincolor;
                padding: 0 15px 20px 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: rgb(8, 8, 8);
                font-size: 16px;
                // border: 1px solid rgb(212, 212, 212);
                // border-radius: 5px;
                // border-top: none;
            }

        }
    }
    
}

//详情展示区
#detail{
    width: 100%;
}
.detail-wrap{
    margin: 0 auto;
    width: 1000px;
    height: 652px;
    // background: yellowgr een;
    padding-top: 11px;
    
    display: flex;
    .detail-wrap-left{
        .imgshow{
            width: 420px;
            height: 420px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .imgbox{
            margin-top: 10px;
            width: 420px;
            height: 64px;
            background: #f5f5f5;
            // display: flex;
            // position: relative;
            overflow: hidden;

            .bigbox{
                width: 1500px;
                // overflow: hidden;
                display: flex;
                position: relative;

            }
            .leftarr{
                // margin-right: 7px;
                width: 29px;
                height: 38px;
                background: rgb(177, 177, 175);
                color: rgb(165, 165, 163);
                text-align: center;
                padding-top: 26px;
                // background-image: url(../img/sprite.png);
            }
            li{
                width: 62px;
                height: 62px;
                background:blueviolet;
                margin-left: 7px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .rightarr{
            width: 29px;
            height: 38px;
            background: rgb(139, 139, 139);
            opacity: 0.8;
            color: rgb(102, 102, 101);
            text-align: center;
            padding-top: 26px;
            position: absolute;
            top: 0;
            left: 391px;
        }

        .infobox{
            padding: 15px;
            width: 394px;
            display: flex;
            color: #999999;
            font-size: 12px;
            border-bottom: 1px dashed #999999;
            .code{
                position: relative;
                div{
                    width: 20px;
                    height: 20px;
                    background: url(../img/sprite.png);
                    background-position: 123px 0;
                    position: absolute;
                    left: 132px;
                    top: -6px;
                }
            }
            .img{
                margin-left: 90px;
                width: 100px;
                height: 27px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .intro{
            padding:25px 0;
            .introbox{
                width: 420px;
                // height: 100px;
               
            }
        }
    }

    .detail-wrap-right{
        width: 550px;
        height: 538px;
        margin-left: 30px;
        // background: #f01e1e;
        .title{
            font-size: 16px;
            color: #333;
            overflow: hidden;
            line-height: 20px;
            margin-top: 8px;
            margin-bottom: 8px;
            font-weight: 700;
        }
        .num{
            width: 535px;
            height: 33px;
            background: url(http://b.appsimg.com/upload/momin/2020/06/30/194/1593504849999.jpg) no-repeat;
            color: #fff;
            font-size: 16px;
           padding: 15px 0 0 15px;
        }
        .price{
            // margin-top: 18px;
            // display: flex;
            padding-top: 18px;
            padding-left: 44px;
            width: 506px;
            height: 76px;
            background: url(http://b.appsimg.com/upload/momin/2020/05/26/183/1590459021171.png) no-repeat;
            background-size: 550px 94px;
            color: white;

            .pricebox{
                display: flex;
                // font-family: arial;
                // position: relative;
                
            }
            .left{
                width: 200px;
                display: flex;
                font-family: arial;
                position: relative;
                padding-top: 20px;
                margin-right: 150px;

            }
            h4{
                font-size: 24px;
            }
            h3{
                font-size: 38px;
                position: absolute;
                left: 16px;
                top: 9px;
                // margin-right: 15px;
            }
            h5{
                margin-left: 20px;
                font-size: 16px;
                text-decoration: line-through;
                position: absolute;
                left: 63px;
                top: 25px;
            }
            h6{
                margin-left: 20px;
                font-size: 16px;
                position: absolute;
                left: 117px;
                top: 25px;
            }

            .djs{
                color: white;
               
            }
            main{
                font-size: 28px;
                font-family:sans-serif;
                margin-bottom: 14px;
            }
        }

        .address{
            margin-top: 15px;
            display: flex;
            h6{
                color: #999999;
                font-size: 12px;
                margin-top: 10px;
            }
            .selects{
                margin-left: 25px;
                width: 205px;
                height: 22px;
                border: 1px solid #777777;
                padding:8px 35px 0 10px;
                position: relative;
                font-size: 12px;
                .img{
                    width: 15px;
                    height: 15px;
                    background: url(../img/sprite.png) no-repeat;
                    background-position: -24px -199px;
                    position: absolute;
                    left: 227px;
                    top: 7px;
                }                
            }
        }

        .express{
            margin-top: 15px;
           .exp-wrap{
                display: flex;
            }
            h6{
                color: #999999;
                font-size: 12px;
                // margin-right: ;
            }
            .text{
                margin-left: 25px;
                font-size: 12px;

            }

        }

        .select-color{
            margin-top: 25px;

            .select-box{
                display: flex;
            }
            p{
                margin-top: 10px;
                color: #999999;
                font-size: 12px;
            }
            .info{
                margin-left: 25px;
                width: 77px;
                height: 28px;
                border: 1px solid #555;
            }
            .img-text{
                width: 77px;
                height: 28px;
                display: flex;
            }
            .imga{
                width: 28px;
                height: 28px;
            }
            img{
                width: 100%;
                height: 100%;
            }
           .sel{
                width: 24px;
                height: 16px;
                padding: 8px 15px 0 10px;
                // text-align: center;
                font-size: 12px;
            }
        }

        .size{
            margin-top: 25px;
            .size-wrap{
                display: flex;
            }
            p{
                margin-top: 10px;
                color: #999999;
                font-size: 12px;

            }

            .size-box{
                margin-left: 25px;
                width: 375px;
                height: 40px;
                display: flex;
            }
            li{
                width: 30px;
                height: 19px;
                padding: 7px 20px 1px;
                margin-right: 10px;
                border: 1px solid #666;
                color: #333333;
                font-size: 12px;
                text-align: center;
            }

        }

        .selectnum{
            margin-top: 25px;
            .num-wrap{
                display: flex;
            }
            p{
                margin-top: 10px;
                color: #999999;
                font-size: 12px;
                margin-right: 25px;
            }
            .num-box{
                width: 73px;
                height: 28px;
                display: flex;
                justify-content: space-between;
                border: 1px solid #555555;
            }
            li{
                width: 21px;
                height: 24px;
                background-color: #f9f8f8;
                font-size: 18px;
                text-align: center;
                padding-top: 4px;
            }
            li:nth-child(1){
                color: #dad8d8;
            }
            li:nth-child(2){
                color: #bdbbbb;
            }
            dd{
                // height: 28px;
                // text-align: center;
                padding-top: 5px;
            }
        }
        //加购按钮
        .addcart{
            width: 146px;
            height: 34px;
            margin-top: 25px;
            display: flex;
            margin-left: 25px;
            background: $maincolor;
            border-radius: 5px;
            color: white;
            padding-left: 50px;
            padding-top: 10px;
            li{
                width: 22px;
                height: 32px;
                background: url(../img/sprite.png);
                background-position: 164px -136px;
            }
            h6{
                padding-top: 5px;
            }
        }
       
    }
}

//底部
.bottom{
    margin-top: 50px;
    .bottom-wrap{
        width: 1000px;
        height: 400px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
